<h1>Hello World</h1>
<p><strong>Rails Environment</strong>: <%= Rails.env %></p>
<p><strong>Remote IP</strong>: <%= request.remote_ip %></p>
<p><strong>IP</strong>: <%= request.ip %></p>
<p>Love, <a href="https://brandnewbox.com">Brand New Box</a></p>